@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.oswald {
  font-family: 'Oswald', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
/*
thin 100
light 300
regular 400
medium 500
bold 700
black 900
*/
* {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
body *:focus {
  outline: none;
}
body * {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
.reveal .wrap {
  width: 100%;
  padding: 0px 15px;
}
/* header */
.reveal .header {
  position: fixed;
  z-index: 10;
  padding: 50px 50px 0px 50px;
  top: 0px;
  left: 0px;
  width: 100%;
}
.reveal .header .logo {
  float: left;
  position: relative;
  z-index: 2;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reveal .header .logo svg {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  fill: #222222;
}
.reveal .header .logo:hover {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.reveal .header .logo.act svg {
  fill: #a8a8a8;
}
.reveal .header .nav {
  float: right;
  white-space: nowrap;
}
.reveal .header .nav a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #222222;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 30px;
  white-space: nowrap;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reveal .header .nav a:last-child {
  margin-right: 0px;
}
.reveal .header .nav a:hover {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.size_1 .header .nav,
.size_2 .header .nav,
.size_3 .header .nav,
.size_4 .header .nav {
  display: block;
}
.size_5 .header,
.size_6 .header,
.size_7 .header {
  padding: 25px 25px 0px 25px;
}
.size_5 .header .nav,
.size_6 .header .nav,
.size_7 .header .nav {
  display: none;
}
.has-dark-background .header .logo svg {
  fill: #a8a8a8;
}
.has-dark-background .header .nav a {
  color: #a8a8a8;
}
.has-dark-background .header .burger i,
.has-dark-background .header .burger:before,
.has-dark-background .header .burger:after {
  background: #a8a8a8;
}
.has-dark-background .header .logo svg {
  fill: #a8a8a8;
}
.has-dark-background .header .nav a {
  color: #a8a8a8;
}
.has-dark-background .header .burger i,
.has-dark-background .header .burger:before,
.has-dark-background .header .burger:after {
  background: #a8a8a8;
}
/* burger */
.reveal .burger {
  display: none;
  float: right;
  position: relative;
  z-index: 2;
  width: 24px;
  height: 22px;
  cursor: pointer;
  -webkit-transition: .3s ease, background 0.6s ease;
  -moz-transition: .3s ease, background 0.6s ease;
  transition: .3s ease, background 0.6s ease;
}
.reveal .burger i {
  display: block;
  width: 24px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition: .3s ease, background 0.6s ease;
  -moz-transition: .3s ease, background 0.6s ease;
  transition: .3s ease, background 0.6s ease;
}
.reveal .burger:before {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: .3s ease, background 0.6s ease;
  -moz-transition: .3s ease, background 0.6s ease;
  transition: .3s ease, background 0.6s ease;
}
.reveal .burger:after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 20px;
  -webkit-transition: .3s ease, background 0.6s ease;
  -moz-transition: .3s ease, background 0.6s ease;
  transition: .3s ease, background 0.6s ease;
}
.reveal .burger.act i {
  background: #fff;
  opacity: 0;
}
.reveal .burger.act:before {
  background: #fff;
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.reveal .burger.act:after {
  background: #fff;
  top: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.size_1 .reveal .burger,
.size_2 .reveal .burger,
.size_3 .reveal .burger,
.size_4 .reveal .burger {
  display: none;
}
.size_5 .reveal .burger,
.size_6 .reveal .burger,
.size_7 .reveal .burger {
  display: block;
}
/* nav_device */
.reveal .nav_device {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #212222;
  left: -100%;
  top: 0px;
}
.reveal .nav_device div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.reveal .nav_device div ul li {
  margin-bottom: 20px;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  position: relative;
}
.reveal .nav_device div ul li:last-child {
  margin-bottom: 0px;
}
.reveal .nav_device div ul li:nth-child(1) {
  left: -120px;
}
.reveal .nav_device div ul li:nth-child(2) {
  left: -100px;
}
.reveal .nav_device div ul li:nth-child(3) {
  left: -80px;
}
.reveal .nav_device div a {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-size: 60px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reveal .nav_device div a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.reveal .nav_device.act {
  left: 0;
}
.reveal .nav_device.act div ul li {
  left: 0px;
}
.size_5 .reveal .nav_device div a {
  font-size: 60px;
}
.size_6 .reveal .nav_device div a {
  font-size: 50px;
}
.size_7 .reveal .nav_device div a {
  font-size: 40px;
}
/* home__projects */
.reveal .home__projects .wrap {
  padding: 0px 50px;
}
.reveal .home__projects .owl-buttons {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.reveal .home__projects .owl-buttons:after {
  content: '';
  display: block;
  clear: both;
}
.reveal .home__projects .owl-buttons div {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 24px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-transform: uppercase;
}
.reveal .home__projects .owl-buttons div:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.reveal .home__projects .owl-buttons div.disabled {
  cursor: default;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}
.reveal .home__projects .owl-buttons .owl-prev {
  float: left;
}
.reveal .home__projects .owl-buttons .owl-next {
  float: right;
}
.reveal .home__projects .owl-pagination {
  display: none;
}
.size_5 .reveal .home__projects .wrap,
.size_6 .reveal .home__projects .wrap,
.size_7 .reveal .home__projects .wrap {
  padding: 0px 15px;
}
.size_5 .reveal .home__projects .owl-buttons .owl-prev,
.size_6 .reveal .home__projects .owl-buttons .owl-prev,
.size_7 .reveal .home__projects .owl-buttons .owl-prev {
  display: none;
}
.size_5 .reveal .home__projects .owl-buttons .owl-next,
.size_6 .reveal .home__projects .owl-buttons .owl-next,
.size_7 .reveal .home__projects .owl-buttons .owl-next {
  display: none;
}
.reveal .loader {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  z-index: 11;
}
.reveal .loader img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: px;
  height: px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.reveal .project_paginator {
  position: fixed;
  left: 0px;
  bottom: -30px;
  width: 100%;
  text-align: center;
  z-index: 2;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.reveal .project_paginator.act {
  bottom: 30px;
}
.reveal .project_paginator div {
  cursor: pointer;
  display: inline-block;
  margin: 0px 30px;
  width: 7px;
  height: 7px;
  background: #dadada;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.reveal .project_paginator div.active {
  background: #151723;
}
.reveal .home__projects .owl-item .slide {
  text-align: center;
  position: relative;
}
.reveal .home__projects .owl-item .slide .count {
  font-size: 600px;
  line-height: 600px;
  height: 600px;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  position: relative;
  z-index: 0;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  left: 200px;
}
.reveal .home__projects .owl-item .slide .content_phone {
  display: none;
}
.reveal .home__projects .owl-item .slide .table {
  display: table;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1;
  width: 1100px;
  height: 600px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.reveal .home__projects .owl-item .slide .table-row {
  display: table-row;
}
.reveal .home__projects .owl-item .slide .table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.reveal .home__projects .owl-item .slide .table-cell:first-child {
  width: 480px;
}
.reveal .home__projects .owl-item .slide .table-cell:first-child img {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  display: block;
  width: 480px;
  position: relative;
  left: 0px;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  -o-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
.reveal .home__projects .owl-item .slide .table-cell:last-child {
  text-align: left;
  width: 390px;
}
.reveal .home__projects .owl-item .slide .table-cell:last-child a {
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 0px;
}
.reveal .home__projects .owl-item .slide .table-cell:last-child a:hover {
  left: 15px;
}
.reveal .home__projects .owl-item .slide .table-cell:last-child .title {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate3d(-150px, 0, 0);
  -moz-transform: translate3d(-150px, 0, 0);
  -ms-transform: translate3d(-150px, 0, 0);
  -o-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
}
.reveal .home__projects .owl-item .slide .table-cell:last-child .p {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  -o-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
.reveal .home__projects .owl-item .slide .table-cell:last-child .arrow {
  padding-top: 30px;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: translate3d(-50px, 0, 0);
  -moz-transform: translate3d(-50px, 0, 0);
  -ms-transform: translate3d(-50px, 0, 0);
  -o-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
}
.size_2 .reveal .home__projects .owl-item .slide .count,
.size_3 .reveal .home__projects .owl-item .slide .count {
  font-size: 500px;
  line-height: 500px;
  height: 500px;
}
.size_2 .reveal .home__projects .owl-item .slide .table,
.size_3 .reveal .home__projects .owl-item .slide .table {
  width: 900px;
  height: 500px;
}
.size_2 .reveal .home__projects .owl-item .slide .table-cell:first-child,
.size_3 .reveal .home__projects .owl-item .slide .table-cell:first-child {
  width: 380px;
}
.size_2 .reveal .home__projects .owl-item .slide .table-cell:first-child img,
.size_3 .reveal .home__projects .owl-item .slide .table-cell:first-child img {
  width: 380px;
}
.size_2 .reveal .home__projects .owl-item .slide .table-cell:last-child,
.size_3 .reveal .home__projects .owl-item .slide .table-cell:last-child {
  text-align: left;
  width: 290px;
}
.size_4 .reveal .home__projects .owl-item .slide .count {
  font-size: 400px;
  line-height: 400px;
  height: 400px;
}
.size_4 .reveal .home__projects .owl-item .slide .table {
  width: 700px;
  height: 400px;
}
.size_4 .reveal .home__projects .owl-item .slide .table-cell:first-child {
  width: 280px;
}
.size_4 .reveal .home__projects .owl-item .slide .table-cell:first-child img {
  width: 280px;
}
.size_4 .reveal .home__projects .owl-item .slide .table-cell:last-child {
  text-align: left;
  width: 190px;
}
.size_5 .reveal .home__projects .owl-item .slide .count,
.size_6 .reveal .home__projects .owl-item .slide .count,
.size_7 .reveal .home__projects .owl-item .slide .count {
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
}
.size_5 .reveal .home__projects .owl-item .slide .table,
.size_6 .reveal .home__projects .owl-item .slide .table,
.size_7 .reveal .home__projects .owl-item .slide .table {
  display: none;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone,
.size_6 .reveal .home__projects .owl-item .slide .content_phone,
.size_7 .reveal .home__projects .owl-item .slide .content_phone {
  display: block;
  text-align: center;
  position: relative;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone figure,
.size_6 .reveal .home__projects .owl-item .slide .content_phone figure,
.size_7 .reveal .home__projects .owl-item .slide .content_phone figure {
  width: 70%;
  margin: 0 auto 20px auto;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone figure img,
.size_6 .reveal .home__projects .owl-item .slide .content_phone figure img,
.size_7 .reveal .home__projects .owl-item .slide .content_phone figure img {
  max-width: 100%;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone .p,
.size_6 .reveal .home__projects .owl-item .slide .content_phone .p,
.size_7 .reveal .home__projects .owl-item .slide .content_phone .p {
  max-width: 400px;
  margin: 0 auto;
}
.size_5 .reveal .home__projects .owl-item .slide .count {
  font-size: 500px;
  line-height: 500px;
  height: 500px;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone {
  padding-top: 40px;
  max-width: 70%;
  margin: 0 auto;
}
.size_5 .reveal .home__projects .owl-item .slide .content_phone figure {
  width: 400px;
}
.size_6 .reveal .home__projects .owl-item .slide .count {
  font-size: 320px;
  line-height: 320px;
  height: 320px;
}
.size_6 .reveal .home__projects .owl-item .slide .content_phone {
  padding-top: 0px;
  max-width: 70%;
  margin: 0 auto;
}
.size_6 .reveal .home__projects .owl-item .slide .content_phone figure {
  width: 100%;
}
.size_7 .reveal .home__projects .owl-item .slide .count {
  font-size: 250px;
  line-height: 250px;
  height: 250px;
}
.reveal .home__projects .owl-item.active .slide .count {
  left: 0px;
}
.reveal .home__projects .owl-item.active .slide .table-cell:first-child img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.reveal .home__projects .owl-item.active .slide .table-cell:last-child .title {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.reveal .home__projects .owl-item.active .slide .table-cell:last-child .p {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.reveal .home__projects .owl-item.active .slide .table-cell:last-child .arrow {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* home__about */
.reveal .home__about .wrap .about_text {
  text-align: left;
  width: 29.6875%;
  /* 570 1920 */

  margin-left: 13.28125%;
  /* 255 1920 */

}
.reveal .home__about__img {
  display: none;
  position: fixed;
  left: 50%;
  max-width: 900px;
  /* 713 1920 */

  width: auto;
  max-height: 100%;
  bottom: 0px;
}
.size_3 .reveal .home__about .wrap .about_text {
  text-align: left;
  width: 40%;
}
.size_4 .reveal .home__about .wrap .about_text,
.size_5 .reveal .home__about .wrap .about_text {
  text-align: left;
  width: 40%;
}
.size_6 .reveal .home__about .wrap .about_text,
.size_7 .reveal .home__about .wrap .about_text {
  margin-left: 0px;
  text-align: center;
  width: 100%;
}
.size_6 .reveal .home__about__img,
.size_7 .reveal .home__about__img {
  display: none!important;
}
/* home__contact */
.home__contact .wrap {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
.home__contact .wrap .title {
  color: #FFF;
}
.home__contact .wrap .title span {
  display: block;
}
.home__contact .wrap .p {
  color: #a8a8a8;
}
.home__contact .wrap form {
  padding-top: 30px;
  margin-bottom: 70px;
}
.home__contact .wrap form .input,
.home__contact .wrap form .textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #505050;
  width: 100%;
  padding: 10px 0px 10px 0px;
  line-height: 24px;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  outline: none;
  resize: none;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
}
.home__contact .wrap form .submit {
  display: inline-block;
  padding: 0px 40px 0px 40px;
  background: #FFF;
  height: 60px;
  line-height: 1;
  text-align: center;
  color: #222222;
  font-size: 21px;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border: 1px solid #FFF;
}
.home__contact .wrap form .submit:hover {
  background: transparent;
  color: #FFF;
}
.home__contact .wrap .row {
  margin-bottom: 50px;
}
.home__contact .wrap .row:last-child {
  margin-bottom: 0px;
}
.home__contact .wrap .row .item {
  float: left;
  width: 47.0588235294%;
  /* 480 1020 */

  margin-right: 5.88235294118%;
  /* 60 1020 */

}
.home__contact .wrap .row .item:last-child {
  margin-right: 0px;
}
.home__contact .wrap .item__wrap {
  position: relative;
}
.home__contact .wrap .item__wrap span {
  position: absolute;
  left: 0px;
  bottom: 8px;
  color: #5d5e5e;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.home__contact .wrap .item__wrap:before,
.home__contact .wrap .item__wrap:after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  bottom: 0px;
  position: absolute;
  left: 50%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 2;
}
.home__contact .wrap .item__wrap:after {
  left: auto;
  right: 50%;
}
.home__contact .wrap .item__wrap.act span {
  bottom: 40px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.home__contact .wrap .item__wrap.act:before,
.home__contact .wrap .item__wrap.act:after {
  width: 50%;
}
.home__contact .wrap .soc a {
  display: inline-block;
  margin: 0px 15px;
}
.home__contact .wrap .soc a svg {
  fill: #505050;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.home__contact .wrap .soc a:hover svg {
  fill: #FFF;
}
.size_5 .home__contact .wrap {
  max-width: 600px;
}
.size_5 .home__contact .wrap .row {
  margin-bottom: 30px;
}
.size_5 .home__contact .wrap .row:last-child {
  margin-bottom: 0px;
}
.size_5 .home__contact .wrap .row .item {
  float: none;
  width: 100%;
  /* 480 1020 */

  margin-right: 0;
  /* 60 1020 */

  margin-bottom: 30px;
}
.size_5 .home__contact .wrap .row .item:last-child {
  margin-bottom: 0px;
}
.size_7 .home__contact .wrap,
.size_6 .home__contact .wrap {
  padding-top: 20px;
}
.size_7 .home__contact .wrap form,
.size_6 .home__contact .wrap form {
  padding-top: 0px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.size_7 .home__contact .wrap .title,
.size_6 .home__contact .wrap .title {
  margin-bottom: 20px;
}
.size_7 .home__contact .wrap .title span,
.size_6 .home__contact .wrap .title span {
  display: none;
}
.size_7 .home__contact .wrap .p,
.size_6 .home__contact .wrap .p {
  display: none;
}
.size_7 .home__contact .wrap .row,
.size_6 .home__contact .wrap .row {
  margin-bottom: 20px;
}
.size_7 .home__contact .wrap .row:last-child,
.size_6 .home__contact .wrap .row:last-child {
  margin-bottom: 0px;
}
.size_7 .home__contact .wrap .row .item,
.size_6 .home__contact .wrap .row .item {
  float: none;
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
.size_7 .home__contact .wrap .row .item:last-child,
.size_6 .home__contact .wrap .row .item:last-child {
  margin-bottom: 0px;
}
.size_7 .home__contact .wrap .soc a,
.size_6 .home__contact .wrap .soc a {
  margin: 0px 10px;
}
.size_7 .home__contact .wrap .soc a svg,
.size_6 .home__contact .wrap .soc a svg {
  width: 40px;
}
.size_7 .home__contact .wrap form .input,
.size_6 .home__contact .wrap form .input,
.size_7 .home__contact .wrap form .textarea,
.size_6 .home__contact .wrap form .textarea {
  line-height: 24px;
  font-size: 16px;
  padding: 5px 0px;
}
.size_7 .home__contact .wrap form .submit,
.size_6 .home__contact .wrap form .submit {
  height: 40px;
}
.size_7 .home__contact .wrap .item__wrap span,
.size_6 .home__contact .wrap .item__wrap span {
  bottom: 8px;
  font-size: 16px;
}
.reveal .slides > section,
.reveal .slides > section > section {
  padding: 30px 0px 0px 0px;
}
.reveal .title {
  font-size: 90px;
  margin-bottom: 49px;
  line-height: 1.2em;
  font-family: 'Oswald', sans-serif;
  color: #222222;
}
.reveal .p {
  color: #777777;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.size_2 .reveal .title {
  font-size: 80px;
  margin-bottom: 45px;
}
.size_2 .reveal .p {
  font-size: 32px;
  line-height: 44px;
}
.size_3 .reveal .title {
  font-size: 76px;
  margin-bottom: 42px;
}
.size_3 .reveal .p {
  font-size: 30px;
  line-height: 40px;
}
.size_4 .reveal .title {
  font-size: 70px;
  margin-bottom: 38px;
}
.size_4 .reveal .p {
  font-size: 26px;
  line-height: 36px;
}
.size_5 .reveal .title {
  font-size: 55px;
  margin-bottom: 36px;
}
.size_5 .reveal .p {
  font-size: 22px;
  line-height: 30px;
}
.size_6 .reveal .title {
  font-size: 40px;
  margin-bottom: 34px;
}
.size_6 .reveal .p {
  font-size: 22px;
  line-height: 30px;
}
.size_7 .reveal .title {
  font-size: 30px;
  margin-bottom: 30px;
}
.size_7 .reveal .p {
  font-size: 16px;
  line-height: 24px;
}
/* unisex */
.unisex {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.unisex .wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.unisex .height__block .table {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
}
.unisex .height__block .table-cell {
  display: table-cell;
  vertical-align: middle;
}
.unisex .height__block .table-cell .wrap {
  padding: 150px 0px;
}
.unisex .height__block__top .table-cell {
  vertical-align: top;
}
.unisex .block {
  padding: 150px 0px;
}
/* unisex__welcome */
.unisex__welcome {
  position: relative;
  text-align: left;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/unisex_welcome.jpg);
}
.unisex__welcome .title {
  color: #FFF;
  max-width: 570px;
}
.unisex__welcome .p {
  color: #FFF;
  max-width: 570px;
}
.size_5 .unisex__welcome,
.size_6 .unisex__welcome,
.size_7 .unisex__welcome {
  text-align: center;
}
.size_5 .unisex__welcome .title,
.size_6 .unisex__welcome .title,
.size_7 .unisex__welcome .title {
  max-width: 100%;
}
.size_5 .unisex__welcome .p,
.size_6 .unisex__welcome .p,
.size_7 .unisex__welcome .p {
  max-width: 100%;
}
/* unisex task */
.unisex__task {
  position: relative;
  text-align: left;
}
.unisex__task .title {
  max-width: 570px;
}
.unisex__task .p {
  max-width: 570px;
}
.size_5 .unisex__task,
.size_6 .unisex__task,
.size_7 .unisex__task {
  padding-top: 175px;
}
.size_5 .unisex__task .title,
.size_6 .unisex__task .title,
.size_7 .unisex__task .title {
  max-width: 100%;
}
.size_5 .unisex__task .p,
.size_6 .unisex__task .p,
.size_7 .unisex__task .p {
  max-width: 100%;
}
/* unisex concept */
.unisex__concept {
  background: #e9e9eb;
}
/* unisex logo */
.unisex__logo {
  background: #151723;
}
.unisex__logo .title {
  color: #FFF;
}
.unisex__logo .p {
  color: #a8a8a8;
}
/* unisex result */
.unisex__result {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/unisex_result.jpg);
  text-align: left;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
