@import "elements.less";

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
.oswald {
	font-family: 'Oswald', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
.roboto {
	font-family: 'Roboto', sans-serif;
}



body {	
	*:focus {
		outline:none;
	}
}

/* nav */
.nav {
	position:fixed;
	z-index:10;
	right:50px;
	top:50px;
	white-space:nowrap;
	a {
		text-decoration:none;
		.roboto;
		font-weight:100;
		color:#FFF;
		text-transform:uppercase;
		display:inline-block;
		margin-right:30px;
		&:last-child {
			margin-right:0px;
		}
		white-space:nowrap;
	}
}

.reveal {
	
	.center {
		width:1200px;
		margin:0 auto; 
	}
	
	.slides {
		text-align:left;
	}
	.title {
		font-size:90px; 
		margin-bottom:30px;
		.oswald;
	}	 
	.p {
		color:#777777;
		font-size:36px;
		line-height:48px;
		.roboto; 
		font-weight:100;
	}

	/* color */
	.white {
		color:#FFF;
	}
	.grey {
		color:#a8a8a8;
	}
}



.clearfix:after {
	content:'';
	display:block;
	clear:both;
}